<style type="text/css">
	textarea:focus::-webkit-input-placeholder {color: transparent} 
	textarea:focus::-moz-placeholder {color: transparent} 
	textarea:focus:-moz-placeholder {color: transparent} 
	textarea:focus:-ms-input-placeholder {color: transparent}

	.comment {
		border-bottom: 1px solid grey;
	}

	.comment .message-content {
		margin-left: 0;
	}

	.add_first_comment {
		/*text-align: right;*/
		padding-left: 20px;
	}

	.author {
		float: left;
	}

	.fa:hover {
		cursor: pointer;
	}

	.message-content {
		margin-left: 20px;
	}

	.message-content p {
		margin: 0;
		word-break: break-all; 
	}

	.icon-box {
		height: 18px;
		width: 18px;
		float: left;
	}

	a.link {
		text-decoration: none;
		color: grey;
		font-size: 12px;
		margin: 0;
	}

	a.link:hover {
		color: #286090;

	}

	.message {
		padding: 10px 10px 0;
	}

	.message-box {
		border-bottom: 1px solid grey;
		padding-bottom: 10px;
	}

	.content {
		margin: 10px;
		border: 2px solid;
	}

	#edit_message_body,
	.modal-body,
	.modal-header,
	.modal-footer,
	.edit_message {
		border-radius: 0;
		border: none;
	}

	.modal-footer {
		padding-top: 0;
	}

	#edit_message_body {
		resize: none;
		box-shadow: none;
	}

	.modal-header {
		padding: 10px;
	}

  #myModal {
    top: 25%;
    outline: none;
  }

	.modal-content {
		border-radius: 0;
	}

	div.col-md-10, 
	div.col-md-2 {
		padding-right: 0;
	}

	#message_body {
		height: 50px;
		border-radius: 0;
		border-color: #000;
		resize: none;
	}

	#message_body:focus {
		box-shadow: none;		
	}

	.btn {
		border-radius: 0;
		background-color: #fff;
		border-color: #000;
		color: black;
		padding: 3px 10px; 
		box-shadow:
		  1px 0px rgb(0,0,0), 1px 1px rgb(0,0,0),
		  2px 1px rgb(0,0,0), 2px 2px rgb(0,0,0),
		  3px 2px rgb(0,0,0), 3px 3px rgb(0,0,0),
		  4px 3px rgb(0,0,0), 4px 4px rgb(0,0,0),
		  5px 4px rgb(0,0,0), 5px 5px rgb(0,0,0),
		  6px 5px rgb(0,0,0), 6px 6px rgb(0,0,0);
	}

	.col-md-2 {
		padding-top: 8px;
	}

	.header {
		padding-top: 10px;
	}

	.header a {
		color: #000;
		text-decoration: none;
	}

	.header a:hover {
		color: #286090;
	}
</style>

<div class="container">
	<header>
		<% if current_user %>
			<div class="header">
				<%= link_to 'Выйти', destroy_user_session_path, :method => :delete, class: "pull-right" %>
				<p>Вы: <%= current_user.name %></p>
			</div>
			<%= form_for @new_message, remote: true do |f| %>
				<div class=”field”>
					<div class="row">
						<div class="col-md-10 col-sm-10">
   						<%= f.text_area :body, class: "form-control", placeholder: "Текст сообщения (Ctrl + Enter для отправки)", style: "height: 50px;" %>
 						</div>
 						<div class="col-md-2 col-sm-2">
   						<%= f.submit "Отправить", class: "btn btn-primary" %>
 						</div>
 					</div>
 				</div>
			<% end %>
		<% else %>
			<%= render 'devise/shared/links' %>
			<div class="text-center">
				<p>*Для добавления и комментирования сообщений выполните вход</p>
			</div>
		<% end %>
	</header>

	<div class="content">
		<%= sync_new partial: 'message', resource: Message.new, direction: :prepend %>
		<%= sync partial: 'message', collection: @messages %>
	</div>
	<div class="modal fade" id="myModal" role="dialog"></div>

</div>

<script>	
	var ready = function () {
		$('#message_body').focus();

		$('#myModal').on('shown.bs.modal', function () {
      $('#edit_message_body').focus();
    });
		
		$('.new_message').on("ajax:success", function(e, data, status, xhr) {
			$('#message_body').val('');
		});

		$("#message_body").keydown(function(e){ 
			if(e.which == 13 && e.ctrlKey){ 
				$('#new_message').submit(); 
			}; 
		}); 
	};
	$(document).ready(ready);
</script>