<style type="text/css">
		/* Modal windows */
	#edit_message_body, .modal-body, .modal-header, .modal-footer, .edit_message {
		border-radius: 0;
		border: none;
	}

	.modal-content {
		border-radius: 0;
	}

	.modal-header {
		padding: 10px;
	}

	.modal-footer {
		padding-top: 0;
	}

		/* Hiding pagination */
	.pagination {
		display: none;
	}
</style>

<div class="container">
	<header>
		<% if current_user %>
			<!-- Name and log out link -->
			<div class="header">
				<%= link_to 'Выйти', destroy_user_session_path, :method => :delete, class: "pull-right" %>
				<p>Вы: <%= current_user.name %></p>
			</div>
			<!-- Form for new message -->
			<%= form_for @new_message, remote: true do |f| %>
				<div class=”field”>
					<div class="row">
						<div class="col-md-10 col-sm-10">
   						<%= f.text_area :body, class: "form-control", placeholder: "Текст сообщения (Ctrl + Enter для отправки)" %>
 						</div>
 						<div class="col-md-2 col-sm-2">
   						<%= f.submit "Отправить", class: "btn button btn-primary" %>
 						</div>
 					</div>
 				</div>
			<% end %>
		<% else %>
			<!-- Sign in links -->
			<%= render 'devise/shared/links' %>
			<div class="text-center">
				<p>*Для добавления и комментирования сообщений выполните вход</p>
			</div>
		<% end %>
	</header>
	<!-- Messages -->
	<div class="content" id="messages">
		<%= sync_new partial: 'message', resource: Message.new, direction: :prepend %>
		<%= sync partial: 'message', collection: @messages %>
	</div>
	<!-- Pagination -->
	<%= will_paginate @messages %>
	<!-- Modal window -->
	<div class="modal fade" id="myModal" role="dialog"></div>
</div>

<script>	
	var ready = function () {
		/* Focus on message input */
		$('#message_body').focus();
		/* Focus on modal window, when it shown */
		$('#myModal').on('shown.bs.modal', function () {
      $('#edit_message_body').focus();
    });
		/* Cleans message input after successful ajax request */
		$('.new_message').on("ajax:success", function(e, data, status, xhr) {
			$('#message_body').val('');
		});
		/* Submit form on Ctrl+Enter */
		$("#message_body").keydown(function(e){ 
			if(e.which == 13 && e.ctrlKey){ 
				$('#new_message').submit(); 
			}; 
		}); 
	};
	$(document).ready(ready);
</script>